body {
    background-image: url('images/wall.webp');
    background-size: cover;
    background-color: rgb(2, 2, 43);
    background-repeat: no-repeat;
    object-fit: cover;
}

.system-this-pc {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
}

.system-this-pc:hover {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-left: 6px;
}

.this-pc {
    height: 40px;
    width: 40px;
    margin-top: 16px;
    margin-left: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url('images/this\ pc.jpg');
    background-size: cover;
}

.this-pc-name {
    color: white;
    margin-left: 20px;
    position: absolute;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 52px;
    left: 10px;
}

.system-recycle-bin {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.system-recycle-bin:hover {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-left: 6px;
}

.recycle-bin {
    height: 40px;
    width: 30px;
    position: absolute;
    top: 68px;
    left: 10px;
    margin-left: 23px;
    margin-top: 40px;
    background-image: url('images/recycle\ bin.jpg');
    background-size: cover;
}

.recycle-bin-name {
    color: white;
    margin-left: 12px;
    position: absolute;
    top: 132px;
    left: 6px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.system-network {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    margin-left: 0px;
}

.system-network:hover {
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 25px;
    margin-left: 6px;
}

.network {
    height: 50px;
    width: 50px;
    background-image: url(images/window\ network\ app.webp);
    background-size: cover;
    margin-top: 32px;
    margin-left: 22px;
    position: absolute;
    top: 150px;
    left: 2px;

}

.network-name {
    color: white;
    margin-left: 12px;
    position: absolute;
    top: 210px;
    left: 8px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.taskbar {
    height: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.sun {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 25px;
    position: absolute;
    left: 0;
    background-color: rgb(255, 98, 0);
}

.temperature {
    height: auto;
    width: 100px;
    position: absolute;
    left: 50px;
    color: white;
    font-size: 13px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Arial, sans-serif;
    z-index: 1000;
    background-color: transparent;
    padding: 5px;
}

.sunny {
    color: white;
    font-weight: 100;
    font-size: small;
    margin-top: 25px;
    position: absolute;
    left: 50px;
}

.center-menu {
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.window {
    height: 25px;
    width: 25px;
    background-image: url(images/taskbar\ window\ icon.png);
    background-size: cover;
    background-blend-mode: multiply;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.window:hover {
    transform: scale(1.08);
}

.search-bar {
    height: 28px;
    width: 220px;
    margin-left: 15px;
    color: white;
    background: rgba(130, 127, 127, 0.5);
    border-radius: 40px;
    border: 1px solid rgba(130, 127, 127, 0.5);
}

.search-bar:hover {
    border: 1px solid white;
}

.multi-window {
    height: 25px;
    width: 25px;
    background-image: url(images/taskbar\ multi\ window.jpg);
    background-size: cover;
    margin-left: 15px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.multi-window:hover {
    transform: scale(1.08);
}

.edge {
    height: 25px;
    width: 25px;
    background-image: url(images/edge.png);
    background-size: cover;
    margin-left: 15px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.edge:hover {
    transform: scale(1.08);
}

.files {
    height: 25px;
    width: 25px;
    margin-left: 15px;
    background-image: url(images/taskbar\ files.jpg);
    background-size: cover;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.files:hover {
    transform: scale(1.08);
}

.playstore {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    background-image: url(images/taskbar\ playstore.png);
    background-size: cover;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.playstore:hover {
    transform: scale(1.08);
}

.lenovo-ventage {
    height: 25px;
    width: 25px;
    margin-left: 15px;
    background-image: url(images/taskbar\ lenovo\ vintage.png);
    background-size: cover;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.lenovo-ventage:hover {
    transform: scale(1.08);
}

.time {
    color: white;
    font-size: 13px;
    position: absolute;
    right: 15px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.calender {
    color: white;
    font-size: 13px;
    position: absolute;
    right: 15px;
    margin-top: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.system-apps {
    height: 530px;
    width: 620px;
    position: fixed;
    bottom: -655px;
    left: 50%;
    /* right: 50%; */
    transform: translateX(-50%);
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
}

.search-apps {
    height: 30px;
    width: 90%;
    margin-top: 15px;
    margin-left: 5%;
    border-radius: 20px;
    background-color: rgb(41, 40, 40);
    border: 1px solid rgb(82, 81, 81);
}

.system-apps-pinned {
    color: white;
    margin-left: 70px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
}

.all-apps {
    margin-top: 25px;
    margin-left: 500px;
    background-color: transparent;
    color: white;
    border: 1px solid gray;

}

.apps {
    height: 250px;
    margin-top: 50px;
}

/* 1st line of apps */
.apps-line-one {
    height: 80px;
    display: flex;
}

/* 1st app of line edge  background*/
.system-apps-list-edge {
    height: 100%;
    width: 90px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: transparent;
}

/* 1st app edge image  */
.apps-list-one-edge {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 1st app edge name */
.apps-list-one-edge-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 1st app edge hover effect */
.system-apps-list-edge:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 2nd app of list word background */
.system-apps-list-word {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 2nd app word image */
.apps-list-one-word {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 2nd app word name */
.apps-list-one-word-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 2nd app hover effect */
.system-apps-list-word:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 3rd app excel background */
.system-apps-list-excel {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 3rd app excel image */
.apps-list-one-excel {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 3rd app excel name */
.apps-list-one-excel-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 3rd app excel hover effect */
.system-apps-list-excel:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 4th app power point background */
.system-apps-list-power-point {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 4th app power point img */
.apps-list-one-power-point {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 4th app name */
.apps-list-one-power-point-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 4th app hover effect */
.system-apps-list-power-point:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 5th app background */
.system-apps-list-microsoft-365 {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 5th app power point img */
.apps-list-one-microsoft-365 {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 5th app name */
.apps-list-one-microsoft-365-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 5px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 5th app hover effect */
.system-apps-list-microsoft-365:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 6th app background */
.system-apps-list-outlook {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 6th app image */
.apps-list-one-outlook {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 6th app name */
.apps-list-one-outlook-name {
    color: white;
    position: absolute;
    top: 180px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 6th app hover effect */
.system-apps-list-outlook:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 2nd line of apps*/
.apps-line-two {
    height: 80px;
    display: flex;
}

/* 1st app of 2nd line background */
.system-apps-list-microsoft-store {
    height: 100%;
    width: 90px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: transparent;
}

/* 1st app image */
.apps-list-two-microsoft-store {
    height: 35px;
    margin-top: 15px;
    margin-left: 28px;

}

/* 1st app name */
.apps-list-two-microsoft-store-name {
    color: white;
    position: absolute;
    top: 260px;
    /* margin-left: 2px; */
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 1st app hover effect */
.system-apps-list-microsoft-store:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 2nd app background  */
.system-apps-list-photo {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 2nd app image */
.apps-list-two-photos {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 2nd app name */
.apps-list-two-photos-name {
    color: white;
    position: absolute;
    top: 260px;
    margin-left: 25px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 2nd app hover effect */
.system-apps-list-photo:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 3rd app background */
.system-apps-list-Settings {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 3rd app image */
.apps-list-two-settings {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 3rd app name */
.apps-list-two-settings-name {
    color: white;
    position: absolute;
    top: 260px;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 3rd app hover effect */
.system-apps-list-Settings:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 4th app background */
.system-apps-list-xbox {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 4th app image */
.apps-list-two-xbox {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 4th app name */
.apps-list-two-xbox-name {
    color: white;
    position: absolute;
    top: 260px;
    margin-left: 28px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 4th app hover effect */
.system-apps-list-xbox:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 5th app background */
.system-apps-list-solitiear-casual-games {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 5th app image */
.apps-list-two-solitiear-games {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 5th app name */
.apps-list-two-solitiear-games-name {
    color: white;
    position: absolute;
    top: 260px;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 5th app hover effect */
.system-apps-list-solitiear-casual-games:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*6th app background  */
.system-apps-list-paint {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 6th app image */
.apps-list-two-paints {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 6th app name */
.apps-list-two-paints-name {
    color: white;
    position: absolute;
    top: 260px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 6th app hover effect */
.system-apps-list-paint:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 3rd line of apps */
.apps-line-three {
    height: 80px;
    display: flex;
}

/* 1st app background */
.system-apps-list-microsoft-clipchamp {
    height: 100%;
    width: 90px;
    margin-left: 40px;
    border-radius: 5px;
    background-color: transparent;
}

/* 1st app image */
.apps-list-three-clipchamp {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 1st app name */
.apps-line-three-clipchamp-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 10px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 1st app hover effect */
.system-apps-list-microsoft-clipchamp:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 2nd app background */
.system-apps-list-linkedIn {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 2nd app image */
.apps-list-three-linkedIn {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 2nd app name */
.apps-line-three-linkedIn-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 2nd app hover effect */
.system-apps-list-linkedIn:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 3rd app background */
.system-apps-list-calculator {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 3rd app image */
.apps-list-three-calculator {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 3rd app name */
.apps-line-three-calculator-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 15px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 3rd app hover effect */
.system-apps-list-calculator:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 4th app background */
.system-apps-list-clock {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 4th app image */
.apps-list-three-clock {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 4th app name */
.apps-line-three-clock-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 30px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 4th app hover effect */
.system-apps-list-clock:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 5th app background */
.system-apps-list-notepad {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 5th app image */
.apps-list-three-notepad {
    height: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 5th app name */
.apps-line-three-notepad-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 20px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 5th app hover effect */
.system-apps-list-notepad:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* 6th app background */
.system-apps-list-snipping-tool {
    height: 100%;
    width: 90px;
    border-radius: 5px;
    background-color: transparent;
}

/* 6th app image */
.apps-list-three-snipping-tool {
    height: 32px;
    width: 32px;
    margin-top: 15px;
    margin-left: 28px;
    border-radius: 5px;

}

/* 6th app name */
.apps-line-three-snipping-tool-name {
    color: white;
    position: absolute;
    top: 340px;
    margin-left: 5px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/* 6th app hover effect */
.system-apps-list-snipping-tool:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.previous{
    height: 69px;
    /* background-color: red; */
}

.previous-recommended{
    margin-left: 60px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.more-apps{
    background-color:transparent;
    border: 0.1px solid white;
    position: absolute;
    top: 410px;
    left: 490px;
    color: aliceblue;
    border-radius: 5px;
}

.recent-app {
    height: 50px;
    width: 100px;
    border-radius: 2px;
    position: absolute;
    top: 430px;
    left: 60px;
    /* background-color: wheat; */
}

.recent-app-edge {
    height: 35px;
    margin-top: 5px;
    margin-left: 10px;

}

.recent-app-name {
    color: white;
    position: absolute;
    top: 0px;
    font-size: 13px;
    left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.recent-app:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.system-apps-footer {
    height: 50px;
    /* margin-top: 67px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: aliceblue;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.system-dp {
    height: 30px;
    border-radius: 50%;
    margin-left: 65px;

}

.system-name {
    color: white;
    margin-left: 10px;
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.system-name:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.shutdown {
    height: 20px;
    margin-left: 400px;
}